DB_ADDRESS=ep-lucky-fog-acpq2ep5-pooler.sa-east-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=
DB_PASSWORD=
DEFAULT_ADMIN_EMAIL=admin@viva.com
DEFAULT_ADMIN_PASSWORD=123456
JWT_SECRET=a3f8YCgqLBFVUjPVX3mmmuDTC4tSgV
