## RENOMEAR ESTE ARQUIVO PARA .env

## CONFIGURAÇÕES BANCO DE DADOS
DB_ADDRESS=ep-lucky-fog-acpq2ep5-pooler.sa-east-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_ENABLE_SSL=true
DB_PASSWORD=
DB_USERNAME=

## CRIA USUARIO ADMINISTRADOR AO INICIAR CASO NÃO EXISTA
DEFAULT_ADMIN_EMAIL=admin@viva.com
DEFAULT_ADMIN_PASSWORD=


APPOINTMENT_JOB_CRON=0/1 * * * 1-5
